Códigos/node-red_codigo.json
[
    {
        "id": "5f011d2a6aba5093",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80e898198156d73f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3fce1a0e0265bcc5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b797056c2c03621d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c90642c7e7ee7029",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "b797056c2c03621d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70b3319e2f5cfd33",
        "type": "ui_group",
        "name": "TEMPERATURA",
        "tab": "b797056c2c03621d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59bc0ff974c11094",
        "type": "ui_group",
        "name": "HUMEDAD",
        "tab": "b797056c2c03621d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "32be2201013eadda",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d4f43953424a17d4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3308",
        "db": "db_sensores",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "202e7754470c0658",
        "type": "mqtt in",
        "z": "80e898198156d73f",
        "name": "",
        "topic": "Sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3fce1a0e0265bcc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "a297a9058492bd1d"
            ]
        ]
    },
    {
        "id": "56abafc177fc7fe8",
        "type": "comment",
        "z": "80e898198156d73f",
        "name": "",
        "info": "Comunicacion MQTT",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "a297a9058492bd1d",
        "type": "json",
        "z": "80e898198156d73f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "836357f4a5e84fd8",
                "061e55b5c5c9a7c7",
                "24d351a355f41af2",
                "14c4ad14fa2d17d6",
                "73177ba96823643a"
            ]
        ]
    },
    {
        "id": "836357f4a5e84fd8",
        "type": "function",
        "z": "80e898198156d73f",
        "name": "function 1",
        "func": "\nvar query = \"INSERT INTO `datos-esp32` (`ID`, `FECHA`, `DEVICE`, `TEMPERATURA`, `HUMEDAD`) VALUES (NULL, current_timestamp(),'\";\nquery = query + msg.payload.DEVICE+\"','\";\nquery = query + msg.payload.TEMPERATURA + \"','\";\nquery = query + msg.payload.HUMEDAD + \"');\";\nmsg.topic=query;\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "1171d2a7178cb1a5"
            ]
        ]
    },
    {
        "id": "299fc78b0e856b99",
        "type": "debug",
        "z": "80e898198156d73f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "c314b90ce188cb03",
        "type": "mqtt out",
        "z": "80e898198156d73f",
        "name": "ESP32",
        "topic": "ESP32",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fce1a0e0265bcc5",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "dbe4bc21394e3c9a",
        "type": "ui_button",
        "z": "80e898198156d73f",
        "name": "",
        "group": "c90642c7e7ee7029",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "PRENDER",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "P",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "c314b90ce188cb03"
            ]
        ]
    },
    {
        "id": "11f640d21a76f61e",
        "type": "ui_button",
        "z": "80e898198156d73f",
        "name": "",
        "group": "c90642c7e7ee7029",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "APAGAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "A",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "c314b90ce188cb03"
            ]
        ]
    },
    {
        "id": "061e55b5c5c9a7c7",
        "type": "ui_text",
        "z": "80e898198156d73f",
        "group": "c90642c7e7ee7029",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DEVICE",
        "format": "{{msg.payload.DEVICE}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "73177ba96823643a",
        "type": "ui_text",
        "z": "80e898198156d73f",
        "group": "c90642c7e7ee7029",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ESTADO",
        "format": "{{msg.payload.ESTADO}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "24d351a355f41af2",
        "type": "ui_gauge",
        "z": "80e898198156d73f",
        "name": "",
        "group": "70b3319e2f5cfd33",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURA",
        "label": "ºC",
        "format": "{{msg.payload.TEMPERATURA}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "className": "",
        "x": 870,
        "y": 620,
        "wires": []
    },
    {
        "id": "14c4ad14fa2d17d6",
        "type": "ui_gauge",
        "z": "80e898198156d73f",
        "name": "",
        "group": "59bc0ff974c11094",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMEDAD",
        "label": "%",
        "format": "{{msg.payload.HUMEDAD}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "className": "",
        "x": 850,
        "y": 660,
        "wires": []
    },
    {
        "id": "1171d2a7178cb1a5",
        "type": "mysql",
        "z": "80e898198156d73f",
        "mydb": "d4f43953424a17d4",
        "name": "",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "299fc78b0e856b99"
            ]
        ]
    }
]